body{
    font-family: 'Arial';
}
#mainHeading{
    text-align: center;
}
.todo-container{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 15px;
    row-gap: 15px;
    margin-top: 25px;
}
#todo-input{
    padding: 10px ;
    font-size: 13px;

}
.addButton{
    border-radius: 10px;
    border: none;
    background-color: #5c685e;
    color: whitesmoke;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.addButton:hover{
    background-color: #4ac763;
}


.deleteButton{
    border-radius: 10px;
    border: none;
    background-color: #5c685e;
    color: whitesmoke;
    cursor: pointer;
    padding: 15px;
    transition: background-color 0.2s ease;
}
.deleteButton:hover{
    background-color: #a92f2f;
}
